<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Banana.Hi-T.E-C</title>
    <link rel="shortcut icon" href="/static/icon/favicon/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/base/base.css">
</head>
<body>

    <!-- Menu que fica na parte superior do site-->
    <nav class="navbar">
        <ul class="navbar-list">
            <li id="menu"><a href="#">Menu</a></li>
            <li><a href="/template/home/home.html" target="_blank">Página Inicial</a></li>
            <li class="pesquisa">
                <form id="formPesquisa">
                    <button type="submit">Pesquisar</button>
                    <input id="inputPesquisa" type="text" placeholder="Pesquise um produto">
                </form>
            </li>
            <li><a href="#">Acessibilidade</a></li>
            <li><a href="#">Suporte</a></li>
            <li class="gambiarra"></li>
            <li class="carrinho"><a href="#">Carrinho</a></li>
            <!-- Trocar para login/cadastro caso o usuario não esteja logado -->
            <li class="usuario"><a href="#">Usuario</a></li>
            <!-- <li class="usuario"><a href="#">cadstra-se</a></li>
            <li class="usuario"><a href="#">login</a></li> -->
            <!--  -->
        </ul>
    </nav>


    <!--conteudo do site-->
    <div class="conteudo">
        
    </div>

</body>
</html>