<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Banana.HI-T.E-C</title>
    <link rel="shortcut icon" href="/src/template/static/icon/favicon/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/src/template/static/css/base/base.css">
</head>
<body>

    <!-- Menu que fica na parte superior do site-->
    <nav class="navbar">
        <ul class="navbar-list">
            <li id="menu"><a href="#">Menu</a></li>
            <li><a href="http://127.0.0.1:5500/src/template/home/home.html" target="_blank">Página Inicial</a></li>
            <li class="pesquisa">
                <form id="formPesquisa">
                    <button type="submit">Pesquisar</button>
                    <input id="inputPesquisa" type="text" placeholder="Pesquise um produto">
                </form>
            </li>
            <li><a href="#">Acessibilidade</a></li>
            <li><a href="#">Suporte</a></li>
            <li class="gambiarra"></li>
            <li class="carrinho"><a href="#">Carrinho</a></li>
            <!-- Trocar para login/cadastro caso o usuario não esteja logado -->
            <!-- <li class="usuario"><a href="#">Usuario</a></li> -->
            <li class="usuario"><a href="http://127.0.0.1:5500/src/template/cadastro-login/decisao.html" target="_blank">Login/Cadastro</a></li>
            <!--  -->
        </ul>
    </nav>

    <!--conteudo do site-->
    <div class="conteudo">
        
    </div>

    <footer>
        <div class="rodape-container">
            <div class="rodape-item">
                <h4 class="titulo4">Sobre Nós</h4>
                <p class="rodape-text">Informações sobre nossa empresa e equipe.</p>
            </div>
            <div class="rodape-item">
                <h4 class="titulo4">Produtos</h4>
                <ul class="rodape-list">
                    <li>Produto 1</li>
                    <li>Produto 2</li>
                    <li>Produto 3</li>
                </ul>
            </div>
            <div class="rodape-item">
                <h4 class="titulo4">Contato</h4>
                <ul class="rodape-list">
                <li>Endereço: Rua XYZ, nº 123</li>
                <li>Telefone: (XX) XXXX-XXXX</li>
                <li>Email: contato@exemplo.com</li>
                </ul>
            </div>
            <div class="rodape-item">
                <h4 class="titulo4">Redes Sociais</h4>
                <ul class="rodape-list">
                <li>Facebook</li>
                <li>Twitter</li>
                <li>Instagram</li>
                </ul>
            </div>
            <div class="rodape-item">
                <h4 class="titulo4">Termos e Condições</h4>
                <p class="rodape-text">Leia nossos termos e condições de uso.</p>
            </div>
            <div class="rodape-item">
                <h4 class="titulo4">Política de Privacidade</h4>
                <p class="rodape-text">Leia nossa política de privacidade.</p>
            </div>
            <div class="rodape-item">
                <h4 class="titulo4">Ajuda</h4>
                <p class="rodape-text">Encontre respostas para perguntas frequentes.</p>
            </div>
        </div>
    </footer>

</body>
</html>