<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Banana.Hi-T.E-C</title>
    <link rel="shortcut icon" href="/src/static/icon/favicon/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/src/static/css/base/base.css">
    <!-- <link rel="stylesheet" href="/static/css/cadastro-login/cadastro-login.css"> -->
</head>
<body>

    <iframe src="/src/template/base/base.html" frameborder="0"></iframe>

    <div class="conteudo">
        <div>

            <a href="#"><div></div>Login</a>
            <a href="#"><div></div>cadastro</a>
            <a href="#"><div></div>Voltar para a home</a>

        </div>
    </div>

</body>
</html>

</body>
</html>