<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Banana.Hi-T.E-C</title>
    <link rel="shortcut icon" href="/static/icon/favicon/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/base/base.css">
    <link rel="stylesheet" href="/static/css/home/home.css">
</head>
<body>
    <iframe src="/template/base/base.html" frameborder="0"></iframe>
    <!--conteudo do site-->
    <div class="conteudo">
        <!--  -->
        <div class="banner_cupon"><a href="https://www.kabum.com.br/" target="_blank"><img src="/static/img/banners/banner-de-promocao01.jpeg" alt="banner de ofertas"></a></div>
        <!-- <li class="gambiarra">oioioi</li> -->
        <div>
            <h1 class="titulos">Marcas sugeridas</h1>
            <div class="list">
                <a href="#">
                    <div class="itens"><img src="/static/img/xaropinho.jpg" alt=""><p>acer</p></div>
                </a>
                <a href="#">
                    <div class="itens"><img src="/static/img/xaropinho.jpg" alt=""><p>lenovo</p></div>
                </a>
                <a href="#">
                    <div class="itens"><img src="/static/img/xaropinho.jpg" alt=""><p>asus</p></div>
                </a>
                <a href="#">
                    <div class="itens"><img src="/static/img/xaropinho.jpg" alt=""><p>samsung</p></div>
                </a>
                <a href="#">
                    <div class="itens"><img src="/static/img/xaropinho.jpg" alt=""><p>dell</p></div>
                </a>
            </div>
        </div>
        <!--  -->
        <div class="banner_promocional"><a href="https://www.pichau.com.br/" target="_blank"><img src="/static/img/banners/banner-promocional.png" alt="banner de ofertas"></a></div>
        <!--  -->
        <div>
            <h1 class="titulos">Produtos sugeridos</h1>
            <div class="list">
                <a href="#">
                    <div class="itens"><img src="/static/img/produtos/" alt=""><p>notebook-apple-macbook</p></div>
                </a>
                <a href="#">
                    <div class="itens"><img src="/static/img/produtos/" alt=""><p>Monitores</p></div>
                </a>
                <a href="#">
                    <div class="itens"><img src="/static/img/produtos/" alt=""><p>notebok2</p></div>
                </a>
                <a href="#">
                    <div class="itens"><img src="/static/img/produtos/" alt=""><p>Teclados</p></div>
                </a>
                <a href="#">
                    <div class="itens"><img src="/static/img/produtos/" alt=""><p>Fones</p></div>
                </a>
            </div>
        </div>
        <!--  -->
        <div class="banner_promocional"><a href="https://www.pichau.com.br/" target="_blank"><img src="/static/img/banners/banner-promocional.png" alt="banner de ofertas"></a></div>
        <!--  -->
        <div>
            <h1 class="titulos">Noteboks</h1>
            <div class="list">
                <a href="#">
                    <div class="itens"><img src="/static/img/produtos/notebook/notebook-apple-macbook.jpg" alt=""><p>notebook-apple-macbook</p></div>
                </a>
                <a href="#">
                    <div class="itens"><img src="/static/img/produtos/notebook/notebook-galaxy-book2.jpg" alt=""><p>Monitores</p></div>
                </a>
                <a href="#">
                    <div class="itens"><img src="/static/img/produtos/notebook/Notebook-Gamer-Acer-Nitro-5-Intel.jpg" alt=""><p>notebok2</p></div>
                </a>
                <a href="#">
                    <div class="itens"><img src="/static/img/produtos/notebook/notebook-gamer-asus-tuf.jpg" alt=""><p>Teclados</p></div>
                </a>
                <a href="#">
                    <div class="itens"><img src="/static/img/produtos/notebook/notebook-lenovo-ideapad-3.jpg" alt=""><p>Fones</p></div>
                </a>
            </div>

            <!--  -->
        <div>
            <h1 class="titulos">Gabinetes</h1>
            <div class="list">
                <a href="#">
                    <div class="itens"><img src="/static/img/produtos/gabinete/gabinete-fortrek sc501bk.jpg" alt=""><p>notebook-apple-macbook</p></div>
                </a>
                <a href="#">
                    <div class="itens"><img src="/static/img/produtos/gabinete/gabinete-gamer-aigo-black-technology-mini-preto-pichau.jpg" alt=""><p>Monitores</p></div>
                </a>
                <a href="#">
                    <div class="itens"><img src="/static/img/produtos/gabinete/gabinete-gamer-aigo-darkflash-c285.jpg" alt=""><p>Fones</p></div>
                </a>
                <a href="#">
                    <div class="itens"><img src="/static/img/produtos/gabinete/gabinete-gamer-rise-mode-galaxy-glass-standard.jpg" alt=""><p>notebok2</p></div>
                </a>
                <a href="#">
                    <div class="itens"><img src="/static/img/produtos/gabinete/gabinete-gamer-rise-mode-glass-06x.jpg" alt=""><p>Teclados</p></div>
                </a>
        </div>
    <!--  -->
        <div>
            <h1 class="titulos">Placas de video</h1>
            <div class="list">
                <a href="#">
                    <div class="itens"><img src="/static/img/produtos/placa-de-video/placa-de-video-gigabyte-radeon-rx-6600-eagle amd.jpg" alt=""><p>notebook-apple-macbook</p></div>
                </a>
                <a href="#">
                    <div class="itens"><img src="/static/img/produtos/placa-de-video/placa-de-video-gtx-1650-d6-ventus-xs-ocv1-msi-nvidia--geforce.jpg" alt=""><p>Monitores</p></div>
                </a>
                <a href="#">
                    <div class="itens"><img src="/static/img/produtos/placa-de-video/placa-de-video-rtx-4060-ti-ventus3x-8g-oc-msi-nvidia-geforce.jpg" alt=""><p>notebok2</p></div>
                </a>
                <a href="#">
                    <div class="itens"><img src="/static/img/produtos/placa-de-video/placa-de-video-rx-6600-v2-asus-dual-amd-radeon.jpg" alt=""><p>Teclados</p></div>
                </a>
                <a href="#">
                    <div class="itens"><img src="/static/img/produtos/placa-de-video/placa-de-video-rx-7600-gaming-oc.jpg" alt=""><p>Fones</p></div>
                </a>
        </div>
    <!--  -->
        <div>
            <h1 class="titulos">Processadores</h1>
            <div class="list">
                <a href="#">
                    <div class="itens"><img src="/static/img/produtos/processador/processador-amd-ryzen-5-4600g-box.jpg" alt=""><p>notebook-apple-macbook</p></div>
                </a>
                <a href="#">
                    <div class="itens"><img src="/static/img/produtos/processador/processador-amd-ryzen-5-4600g-cache.jpg" alt=""><p>Monitores</p></div>
                </a>
                <a href="#">
                    <div class="itens"><img src="/static/img/produtos/processador/processador-amd-ryzen-7-5700g.jpg" alt=""><p>notebok2</p></div>
                </a>
                <a href="#">
                    <div class="itens"><img src="/static/img/produtos/processador/processador-intel-core-i5-10400f.jpg" alt=""><p>Teclados</p></div>
                </a>
                <a href="#">
                    <div class="itens"><img src="/static/img/produtos/processador/processador-intel-core-i5-12400f.jpg" alt=""><p>Fones</p></div>
                </a>
        </div>
    <!--  -->
        <div>
            <h1 class="titulos">Processadores</h1>
            <div class="list">
                <a href="#">
                    <div class="itens"><img src="/static/img/produtos/fone-de-ouvido/fone-de-ouvido-beats-studio3-cinza chumbo.jpg" alt=""><p>notebook-apple-macbook</p></div>
                </a>
                <a href="#">
                    <div class="itens"><img src="/static/img/produtos/fone-de-ouvido/fone-de-ouvido-husky-technologies-headset-bluetooth.jpg" alt=""><p>Monitores</p></div>
                </a>
                <a href="#">
                    <div class="itens"><img src="/static/img/produtos/fone-de-ouvido/fone-de-ouvido-on-ear-jb.jpg" alt=""><p>notebok2</p></div>
                </a>
                <a href="#">
                    <div class="itens"><img src="/static/img/produtos/fone-de-ouvido/headset-astro-a10-gaming-gen-2.jpg" alt=""><p>Teclados</p></div>
                </a>
                <a href="#">
                    <div class="itens"><img src="/static/img/produtos/fone-de-ouvido/headset-gamer-redragon-zeus-X.jpg" alt=""><p>Fones</p></div>
                </a>
        </div>

        
    </div>

</body>
</html>
