<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Banana.Hi-T.E-C</title>
    <link rel="shortcut icon" href="/static/icon/favicon/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/base/base.css">
    <link rel="stylesheet" href="/static/css/home/home.css">
</head>
<body>
    <!--conteudo do site-->
    <div class="conteudo">
        
        <div class="banner_cupon"><a href="https://www.kabum.com.br/" target="_blank"><img src="/static/img/banners/banner-de-promocao01.jpeg" alt="banner de ofertas"></a></div>
        <!-- <li class="gambiarra">oioioi</li> -->
        <div>
            <h1 class="titulos">Marcas sugeridas</h1>
                <div class="list">
                    <a href="">
                        <div class="itens"><img src="/static/img/xaropinho.jpg" alt=""><p>acer</p></div>
                    </a>
                    <a href="">
                        <div class="itens"><img src="/static/img/xaropinho.jpg" alt=""><p>lenovo</p></div>
                    </a>
                    <a href="">
                        <div class="itens"><img src="/static/img/xaropinho.jpg" alt=""><p>asus</p></div>
                    </a>
                    <a href="">
                        <div class="itens"><img src="/static/img/xaropinho.jpg" alt=""><p>samsung</p></div>
                    </a>
                    <a href="">
                        <div class="itens"><img src="/static/img/xaropinho.jpg" alt=""><p>dell</p></div>
                    </a>
                </div>
        </div>
        <div class="banner_promocional"><a href="https://www.pichau.com.br/" target="_blank"><img src="/static/img/banners/banner-promocional.png" alt="banner de ofertas"></a></div>
        <!--  -->
        <div>
            <h1 class="titulos">Produtos sugeridos</h1>
            <div class="list">
                <a href="">
                    <div class="itens"><img src="/static/img/produtos/note-asus.png" alt=""><p>Notebook</p></div>
                </a>
                <a href="">
                    <div class="itens"><img src="/static/img/produtos/notebook-asus.png" alt=""><p>Monitores</p></div>
                </a>
                <a href="">
                    <div class="itens"><img src="/static/img/produtos/notebook-asus.png" alt=""><p>notebok2</p></div>
                </a>
                <a href="">
                    <div class="itens"><img src="/static/img/xaropinho.jpg" alt=""><p>Teclados</p></div>
                </a>
                <a href="">
                    <div class="itens"><img src="/static/img/xaropinho.jpg" alt=""><p>Fones</p></div>
                </a>
                <a href="">
                    <div class="itens"><img src="/static/img/xaropinho.jpg" alt=""><p>Mouses</p></div>
                </a>
            </div>
        </div>
        <div class="banner_promocional"><a href="https://www.pichau.com.br/" target="_blank"><img src="/static/img/banners/banner-promocional.png" alt="banner de ofertas"></a></div>
        <!--  -->
        <div>
            <h1 class="titulos">Noteboks Gamer</h1>
            <div class="list">
                <a href="">
                    <div class="itens"><img src="/static/img/xaropinho.jpg" alt=""><p>Nitro 5</p></div>
                </a>
                <a href="">
                    <div class="itens"><img src="/static/img/xaropinho.jpg" alt=""><p>Dell G15</p></div>
                </a>
                <a href="">
                    <div class="itens"><img src="/static/img/xaropinho.jpg" alt=""><p>Alienware</p></div>
                </a>
                <a href="">
                    <div class="itens"><img src="/static/img/xaropinho.jpg" alt=""><p>Ideapad Gaming 3i</p></div>
                </a>
                <a href="">
                    <div class="itens"><img src="/static/img/xaropinho.jpg" alt=""> <p>ASUS ROG STRIX G16</p></div>
                </a>
            </div>
        </div>
    </div>

</body>
</html>
