@import url(../base/base.css);

.conteudo .formulario{
    width: 80vh;
    margin: 30px auto;
    background-color: #0a0a23;
    border: solid;
    padding: 20px;
    border-radius: 10px;
}

.conteudo .formulario .login-form{
    padding: 0 20px;
    background-color: #0a0a23;
    border-color: #fff;
    border: solid;
    border-radius: 10px;
}

.conteudo .formulario .cadastro-form{
    padding: 0 20px;
    background-color: #0a0a23;
    border-color: #fff;
    border: solid;
    border-radius: 10px;
}

.conteudo .formulario .login-form .form-group {
    margin-bottom: 15px;
}

.conteudo .formulario .cadastro-form .form-group {
    margin-bottom: 15px;
}

.conteudo .formulario .login-form .form-group .links-auxiliares .link-auxiliar {
    padding: 4px;
    text-decoration: none;
    border: 2px solid #ff00ff; /* Borda Rosa Neon */
    box-shadow: 0 0 10px #ff007f; /* Sombra Magenta Neon */
    background-color: #8a2be2;
    border-radius: 10px;
    text-align: center;
    color: #ffffff;
}

.conteudo .formulario .cadastro-form .form-group .links-auxiliares .link-auxiliar {
    padding: 4px;
    text-decoration: none;
    border: 2px solid #ff00ff; /* Borda Rosa Neon */
    box-shadow: 0 0 10px #ff007f; /* Sombra Magenta Neon */
    background-color: #8a2be2;
    border-radius: 10px;
    text-align: center;
    color: #ffffff;
}

.conteudo .formulario .login-form .form-group .links-auxiliares .link-auxiliar:hover{
    background-color: #ff00ff; /* Hover Rosa Neon */
    box-shadow: 0 0 15px #ff007f; /* Sombra Magenta Neon */
}

.conteudo .formulario .cadastro-form .form-group .links-auxiliares .link-auxiliar:hover{
    background-color: #ff00ff; /* Hover Rosa Neon */
    box-shadow: 0 0 15px #ff007f; /* Sombra Magenta Neon */
}

.texto-informacao {
    display: block;
    margin-bottom: 5px;
}

#nome, #nascimento, #cpf, #username, #telefone, #email, #password1, #password2, #password {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box; /* Inclui padding e borda na largura total */
    width: 100%; /* Ocupa toda a largura disponível do .form-group */
}

.botao-form {
    margin: 10px;
    padding: 10px 20px;
    background-color: #0016b3;
    color: #fff;
    border: 1px solid #007bff;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 0 0 10px #00bfff; /* Sombra Azul Neon */

}

.botao-form:hover {
    background-color: #007bff;
}