.conteudo{
    background-color: white;
    
}

.formulario{
    background-color: darkcyan;
    padding: 20px;
    width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centraliza horizontal e verticalmente */
}

.cadastro-form, .login-form{
    background-color: red;
    text-align: center; /* Centraliza horizontalmente */
}

.form-group {
    margin-bottom: 15px;
    
}

label {
    display: block;
    margin-bottom: 5px;
}

#nome, #username, #email, #password1, #password2, #password {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box; /* Inclui padding e borda na largura total */
    width: 100%; /* Ocupa toda a largura disponível do .form-group */
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
