<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Banana.Hi-T.E-C</title>
    <link rel="shortcut icon" href="/src/template/static/icon/favicon/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/src/template/static/css/base/base.css">
    <link rel="stylesheet" href="/src/template/static/css/home/home.css">
</head>
<body>

    <iframe src="/src/template/base/base.html" frameborder="0"></iframe>
    <!--conteudo do site-->
    <div class="conteudo">
        <!--  -->
        <div class="banner cupon"><a href="#" target="_blank"><img src="/src/template/static/img/banners/banner-promocionais/banner3.png" alt="banner de ofertas"></a></div>
        <!--  -->
        <div>
            <h1 class="titulos">Marcas sugeridas</h1>
            <div class="list">
                <a class="list-itens" href="#">
                    <div class="itens"><img src="/src/template/static/img/xaropinho.jpg" alt=""><p>acer</p></div>
                </a>
                <a class="list-itens" href="#">
                    <div class="itens"><img src="/src/template/static/img/xaropinho.jpg" alt=""><p>lenovo</p></div>
                </a>
                <a class="list-itens" href="#">
                    <div class="itens"><img src="/src/template/static/img/xaropinho.jpg" alt=""><p>asus</p></div>
                </a>
                <a class="list-itens" href="#">
                    <div class="itens"><img src="/src/template/static/img/xaropinho.jpg" alt=""><p>samsung</p></div>
                </a>
                <a class="list-itens" href="#">
                    <div class="itens"><img src="/src/template/static/img/xaropinho.jpg" alt=""><p>dell</p></div>
                </a>
                <a class="list-itens" href="#">
                    <div class="itens"><img src="/src/template/static/img/xaropinho.jpg" alt=""><p>dell</p></div>
                </a>
                <a class="list-itens" href="#">
                    <div class="itens"><img src="/src/template/static/img/xaropinho.jpg" alt=""><p>dell</p></div>
                </a>
                <a class="list-itens" href="#">
                    <div class="itens"><img src="/src/template/static/img/xaropinho.jpg" alt=""><p>dell</p></div>
                </a>
                <a class="list-itens" href="#">
                    <div class="itens"><img src="/src/template/static/img/xaropinho.jpg" alt=""><p>dell</p></div>
                </a>
                <a class="list-itens" href="#">
                    <div class="itens"><img src="/src/template/static/img/xaropinho.jpg" alt=""><p>dell</p></div>
                </a>
            </div>
        </div>
        <!--  -->
        <div class="banner promocional"><a href="#" target="_blank"><img src="/src/template/static/img/banners/banner-promocionais/banner3.png" alt="banner de ofertas"></a></a></div>
        <!--  -->
        <div>
            <h1 class="titulos">Noteboks</h1>
            <div class="list">
                <a class="list-itens" href="#">
                    <div class="itens"><img class="iten-img" src="/src/template/static/img/produtos/notebook/notebook-apple-macbook.jpg" alt=""><p class="iten-txt" class="iten-txt">
                        notebook-apple-macbook,notebook-apple-macbook,notebook-apple-macbook,notebook-apple-macbook,  notebook-apple-macbook,notebook-apple-macbook,notebook-apple-macbook,notebook-apple-macbook,notebook-apple-macbook,notebook-apple-macbook
                    </p>
                    </div>
                </a>
                <a class="list-itens" href="#">
                    <div class="itens"><img class="iten-img" src="/src/template/static/img/produtos/notebook/notebook-galaxy-book2.jpg" alt=""><p class="iten-txt">Monitores</p></div>
                </a>
                <a class="list-itens" href="#">
                    <div class="itens"><img class="iten-img" src="/src/template/static/img/produtos/notebook/Notebook-Gamer-Acer-Nitro-5-Intel.jpg" alt=""><p class="iten-txt">notebok2</p></div>
                </a>
                <a class="list-itens" href="#">
                    <div class="itens"><img class="iten-img" src="/src/template/static/img/produtos/notebook/notebook-gamer-asus-tuf.jpg" alt=""><p class="iten-txt">Teclados</p></div>
                </a>
                <a class="list-itens" href="#">
                    <div class="itens"><img class="iten-img" src="/src/template/static/img/produtos/notebook/notebook-lenovo-ideapad-3.jpg" alt=""><p class="iten-txt">Fones</p></div>
                </a>
            </div>
        </div>
        <!--  -->
        <div class="banner promocional"><a href="#" target="_blank"><img src="/src/template/static/img/banners/banner-promocionais/banner3.png" alt="banner de ofertas"></a></div>
        <!--  -->
        <div>
            <h1 class="titulos">Produtos sugeridos</h1>
            <div class="list">
                <a class="list-itens" href="#">
                    <div class="itens"><img class="iten-img" src="/src/template/static/img/produtos/" alt=""><p class="iten-txt">notebook-apple-macbook</p></div>
                </a>
                <a class="list-itens" href="#">
                    <div class="itens"><img class="iten-img" src="/src/template/static/img/produtos/" alt=""><p class="iten-txt">Monitores</p></div>
                </a>
                <a class="list-itens" href="#">
                    <div class="itens"><img class="iten-img" src="/src/template/static/img/produtos/" alt=""><p class="iten-txt">notebok2</p></div>
                </a>
                <a class="list-itens" href="#">
                    <div class="itens"><img class="iten-img" src="/src/template/static/img/produtos/" alt=""><p class="iten-txt">Teclados</p></div>
                </a>
                <a class="list-itens" href="#">
                    <div class="itens"><img class="iten-img" src="/src/template/static/img/produtos/" alt=""><p class="iten-txt">Fones</p></div>
                </a>
                <a class="list-itens" href="#">
                    <div class="itens"><img class="iten-img" src="/src/template/static/img/produtos/" alt=""><p class="iten-txt">notebook-apple-macbook</p></div>
                </a>
                <a class="list-itens" href="#">
                    <div class="itens"><img class="iten-img" src="/src/template/static/img/produtos/" alt=""><p class="iten-txt">Monitores</p></div>
                </a>
                <a class="list-itens" href="#">
                    <div class="itens"><img class="iten-img" src="/src/template/static/img/produtos/" alt=""><p class="iten-txt">notebok2</p></div>
                </a>
                <a class="list-itens" href="#">
                    <div class="itens"><img class="iten-img" src="/src/template/static/img/produtos/" alt=""><p class="iten-txt">Teclados</p></div>
                </a>
                <a class="list-itens" href="#">
                    <div class="itens"><img class="iten-img" src="/src/template/static/img/produtos/" alt=""><p class="iten-txt">Fones</p></div>
                </a>
            </div>
        </div>
            <!--  -->
        <div>
            <h1 class="titulos">Gabinetes</h1>
            <div class="list">
                <a class="list-itens" href="#">
                    <div class="itens"><img class="iten-img" src="/src/template/static/img/produtos/gabinete/gabinete-fortrek sc501bk.jpg" alt=""><p class="iten-txt">notebook-apple-macbook</p></div>
                </a>
                <a class="list-itens" href="#">
                    <div class="itens"><img class="iten-img" src="/src/template/static/img/produtos/gabinete/gabinete-gamer-aigo-black-technology-mini-preto-pichau.jpg" alt=""><p class="iten-txt">Monitores</p></div>
                </a>
                <a class="list-itens" href="#">
                    <div class="itens"><img class="iten-img" src="/src/template/static/img/produtos/gabinete/gabinete-gamer-aigo-darkflash-c285.jpg" alt=""><p class="iten-txt">Fones</p></div>
                </a>
                <a class="list-itens" href="#">
                    <div class="itens"><img class="iten-img" src="/src/template/static/img/produtos/gabinete/gabinete-gamer-rise-mode-galaxy-glass-standard.jpg" alt=""><p class="iten-txt">notebok2</p></div>
                </a>
                <a class="list-itens" href="#">
                    <div class="itens"><img class="iten-img" src="/src/template/static/img/produtos/gabinete/gabinete-gamer-rise-mode-glass-06x.jpg" alt=""><p class="iten-txt">Teclados</p></div>
                </a>
            </div>
        </div>
        <!--  -->
        <div>
            <h1 class="titulos">Placas de video</h1>
            <div class="list">
                <a class="list-itens" href="#">
                    <div class="itens"><img class="iten-img" src="/src/template/static/img/produtos/placa-de-video/placa-de-video-gigabyte-radeon-rx-6600-eagle amd.jpg" alt=""><p class="iten-txt">notebook-apple-macbook</p></div>
                </a>
                <a class="list-itens" href="#">
                    <div class="itens"><img class="iten-img" src="/src/template/static/img/produtos/placa-de-video/placa-de-video-gtx-1650-d6-ventus-xs-ocv1-msi-nvidia--geforce.jpg" alt=""><p class="iten-txt">Monitores</p></div>
                </a>
                <a class="list-itens" href="#">
                    <div class="itens"><img class="iten-img" src="/src/template/static/img/produtos/placa-de-video/placa-de-video-rtx-4060-ti-ventus3x-8g-oc-msi-nvidia-geforce.jpg" alt=""><p class="iten-txt">notebok2</p></div>
                </a>
                <a class="list-itens" href="#">
                    <div class="itens"><img class="iten-img" src="/src/template/static/img/produtos/placa-de-video/placa-de-video-rx-6600-v2-asus-dual-amd-radeon.jpg" alt=""><p class="iten-txt">Teclados</p></div>
                </a>
                <a class="list-itens" href="#">
                    <div class="itens"><img class="iten-img" src="/src/template/static/img/produtos/placa-de-video/placa-de-video-rx-7600-gaming-oc.jpg" alt=""><p class="iten-txt">Fones</p></div>
                </a>
            </div>
        </div>
        <!--  -->
        <div>
            <h1 class="titulos">Processadores</h1>
            <div class="list">
                <a class="list-itens" href="#">
                    <div class="itens"><img class="iten-img" src="/src/template/static/img/produtos/processador/processador-amd-ryzen-5-4600g-box.jpg" alt=""><p class="iten-txt">notebook-apple-macbook</p></div>
                </a>
                <a class="list-itens" href="#">
                    <div class="itens"><img class="iten-img" src="/src/template/static/img/produtos/processador/processador-amd-ryzen-5-4600g-cache.jpg" alt=""><p class="iten-txt">Monitores</p></div>
                </a>
                <a class="list-itens" href="#">
                    <div class="itens"><img class="iten-img" src="/src/template/static/img/produtos/processador/processador-amd-ryzen-7-5700g.jpg" alt=""><p class="iten-txt">notebok2</p></div>
                </a>
                <a class="list-itens" href="#">
                    <div class="itens"><img class="iten-img" src="/src/template/static/img/produtos/processador/processador-intel-core-i5-10400f.jpg" alt=""><p class="iten-txt">Teclados</p></div>
                </a>
                <a class="list-itens" href="#">
                    <div class="itens"><img class="iten-img" src="/src/template/static/img/produtos/processador/processador-intel-core-i5-12400f.jpg" alt=""><p class="iten-txt">Fones</p></div>
                </a>
            </div>
        </div>
        <!--  -->
        <div>
            <h1 class="titulos">Processadores</h1>
            <div class="list">
                <a class="list-itens" href="#">
                    <div class="itens"><img class="iten-img" src="/src/template/static/img/produtos/fone-de-ouvido/fone-de-ouvido-beats-studio3-cinza chumbo.jpg" alt=""><p class="iten-txt">notebook-apple-macbook</p></div>
                </a>
                <a class="list-itens" href="#">
                    <div class="itens"><img class="iten-img" src="/src/template/static/img/produtos/fone-de-ouvido/fone-de-ouvido-husky-technologies-headset-bluetooth.jpg" alt=""><p class="iten-txt">Monitores</p></div>
                </a>
                <a class="list-itens" href="#">
                    <div class="itens"><img class="iten-img" src="/src/template/static/img/produtos/fone-de-ouvido/fone-de-ouvido-on-ear-jb.jpg" alt=""><p class="iten-txt">notebok2</p></div>
                </a>
                <a class="list-itens" href="#">
                    <div class="itens"><img class="iten-img" src="/src/template/static/img/produtos/fone-de-ouvido/headset-astro-a10-gaming-gen-2.jpg" alt=""><p class="iten-txt">Teclados</p></div>
                </a>
                <a class="list-itens" href="#">
                    <div class="itens"><img class="iten-img" src="/src/template/static/img/produtos/fone-de-ouvido/headset-gamer-redragon-zeus-x.jpg" alt=""><p class="iten-txt">Fones</p></div>
                </a>
            </div>
        </div>
        
    </div>

    <footer>
        <div class="rodape-container">
            <div class="rodape-item">
                <h4 class="titulo4">Sobre Nós</h4>
                <p class="rodape-text">Informações sobre nossa empresa e equipe.</p>
            </div>
            <div class="rodape-item">
                <h4 class="titulo4">Produtos</h4>
                <ul class="rodape-list">
                    <li>Produto 1</li>
                    <li>Produto 2</li>
                    <li>Produto 3</li>
                </ul>
            </div>
            <div class="rodape-item">
                <h4 class="titulo4">Contato</h4>
                <ul class="rodape-list">
                <li>Endereço: Rua XYZ, nº 123</li>
                <li>Telefone: (XX) XXXX-XXXX</li>
                <li>Email: contato@exemplo.com</li>
                </ul>
            </div>
            <div class="rodape-item">
                <h4 class="titulo4">Redes Sociais</h4>
                <ul class="rodape-list">
                <li>Facebook</li>
                <li>Twitter</li>
                <li>Instagram</li>
                </ul>
            </div>
            <div class="rodape-item">
                <h4 class="titulo4">Termos e Condições</h4>
                <p class="rodape-text">Leia nossos termos e condições de uso.</p>
            </div>
            <div class="rodape-item">
                <h4 class="titulo4">Política de Privacidade</h4>
                <p class="rodape-text">Leia nossa política de privacidade.</p>
            </div>
            <div class="rodape-item">
                <h4 class="titulo4">Ajuda</h4>
                <p class="rodape-text">Encontre respostas para perguntas frequentes.</p>
            </div>
        </div>
    </footer>

</body>
</html>